.header {
    color: var(--quiz-color-primary);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 5px 12px #7474f2;
}

.brand-title {
    text-transform: uppercase;
    font-size: 5vw;
    cursor: pointer;

}

.guide-button {
    width: 8rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background: var(--quiz-color-primary);
    color: var(--quiz-color-secondary);
    cursor: pointer;
}

@media(max-width : 800px) {

    .brand-title {
        font-size: 10vw;

    }

}

@media(max-width : 360px) {
    .brand-title {
        font-size: 7vw;
    }

    .guide-button {
        width: 5rem;
        font-size: 10px;
    }
}