body {
    font-family: "Poppins", sans-serif;
}

.guide-container {
    display: flex;
    justify-content: space-around;
}

.guide-banner {
    width: 40%;
    align-self: center;
    padding: 8px;
}

.guide-content {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide-title {
    color: var(--quiz-color-primary);
    font-size: 2rem;
}

.rules {
    font-family: "Poppins", sans-serif;
    border-top: 4px solid var(--quiz-color-primary);
    color: var(--quiz-color-primary);
    text-align: left;
    line-height: 2.5rem;
}

.start-play-quiz {
    font-family: "Poppins", sans-serif;
    border: none;
    height: 2rem;
    border-radius: 5px;
    background: var(--quiz-color-primary);
    color: var(--quiz-color-secondary);
    width: 54%;
    cursor: pointer;
}

.start-play-quiz:hover {
    width: 55%;
    font-size: 110%;
}

@media(max-width : 800px) {
    .guide-container {
        flex-direction: column;
        align-items: center;
    }

    .guide-banner {
        width: 80%;
        padding: 0;
        padding-top: 20px;
    }

    .guide-content {
        width: 90%;
    }

    .start-play-quiz {
        width: 75%;
    }

}

@media(max-width : 560px) {
    .start-play-quiz {
        width: 100%;
    }


}